.product_card {
  width: 500px;
  background-color: whitesmoke;
  padding: 0.5rem;
  color: #3a3a3a;
}

.product_card_title {
  color: black;
  text-align: center;
  padding: 0.2rem;
  position: relative;
  cursor: progress;
}

.product_card_title::after {
  position: absolute;
  bottom: 0px;
  left: 0px;
  content: "";
  background-color: red;
  width: 100%;
  height: 1px;
  transition: all 0.3s ease-in;
}

.product_card_title:hover::after {
  width: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.product_card_image {
  width: 100%;
}

.product_card_image img {
  width: 100%;
  aspect-ratio: 1;
}

.product_card_info {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: flex-start;
  text-align: left;
}

.product_card_action {
  width: 100%;
  display: grid;
  place-content: center;
}

.product_card_action button {
  outline: none;
  border: none;
  padding: 1rem;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1rem;
  background-color: lightsalmon;
}

.product_card_action button:hover {
  background-color: rgb(172, 237, 215);
}

.product_card_action button:active {
  opacity: 0.8;
}
